<div class="container">
  <h1 class="example-form">Formulario del Tema </h1>
  <form class="example-form" [formGroup]="formGroup" (ngSubmit)="save()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Codigo</mat-label>
      <input matInput formControlName="codigo" #message maxlength="256" placeholder="1065">
      <mat-hint align="start"><strong>Por favor dijite la codigo del Tema</strong> </mat-hint>
      <mat-hint align="end">{{codigo.value.length}} / 256</mat-hint>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" #message maxlength="256" placeholder="Analisis">
      <mat-hint align="start"><strong>Por favor dijite el nombre del tutor</strong> </mat-hint>
      <mat-hint align="end">{{nombre.value.length}} / 256</mat-hint>
    </mat-form-field>
    <div class="example-button-row">
      <button type="submit" mat-fab color="accent">Aceptar</button>
    </div>
  </form>
</div>
